body{
    margin: 0;
    font-family: arial, sans-serif;
    background-image: url(../images/insp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}