body {
    margin: 0;
    background-color: #304D30;
    font-family: Arial, sans-serif;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#navbar {
    background-color: #333;
    color: #fff;
}

#navbar h1 {
    margin: 0;
    font-size: 24px;
}

#nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-links li {
    display: inline;
}

#nav-links li a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

#nav-links li a:hover {
    background-color: #555;
}

#menu-icon {
    display: none;
    cursor: pointer;
}
.Plant{
    margin-right: 70px;
}
.perfect{
    margin-left: 70px;
    margin-top: 150px;
    font-style: italic;
}
.par{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    line-height: 5px;
}
h1 {
    line-height: 24px;
}

/* Basic styling for the button */
#buy-now-button {
    padding: 10px 20px;
    background-color: white;
    color: gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/* Change button color on hover */
#buy-now-button:hover {
    background-color: #45a049;
}
.buy-now{
    margin-top: 70px;
}


@media screen and (max-width: 768px) {
    #nav-links {
        display: none;
    }

    #menu-icon {
        display: block;
    }
}
